$font-color: #4D4D4D;
$bg-color: #EFEFF0;
$bg-aside: #F7F7F7;
$white: #FFFFFF;
$li-underline: #ED1C29;
$shadow-nav: #0000000F;
$shadow-aside: #00000007;
$border-cb: #C6C6C6;


$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
